.ErstesFoto{
    background-image: url(./img/Erstes-Foto.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.header{
    text-align: center;
    font-family: cursive, Arial ,sans-serif;
    font-size: 30px;
}


#Logo{
    position: relative;
    width: 300px;
    height: 150px;
    right: 0px;

}


.footer{
    text-align: center;
    margin-top: 50px;
    font-family: cursive, Arial, sans-serif;
    font-size: 40px;
}


#Loginbutton{
    position: relative;
    left: 550px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    top: 20px;
}

#Registrierungbutton{
    position: relative;
    top: 20px;
    left: 550px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    color: green;
}